<!DOCTYPE html> 
<html> 
<head> 
    <%- include('./partials/head') %>
</head> 
<body> 
    <div class="container"> 
        
        <form class="form-signin" action="/login" method="post"> 
            <h2 class="form-signin-heading">Ingreso</h2> 

            <label for="inputEmail" class="sr-only">Usuario</label> 
            <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required=""> 
            
            <label for="inputPassword" class="sr-only">Password</label> 
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""> 
            
            <button class="btn btn-lg btn-primary btn-block" 
                type="submit">Ingresar</button> 
            <br> 

            <p>No tenes una cuenta? <a href="/signup">Registro</a></p> 
        </form> 
    </div> 

  <% include('./partials/footer') %> 
</body> 
</html> 