{{#if productos}}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Foto</th>
                <th>Titulo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#each productos}}
                <tr>
                    <th><img src="{{this.thumbnail}}" alt="" width="64"></th>
                    <th>{{this.title}}</th>
                    <th>{{this.price}}</th>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-warning">
        No tiene productos en su lista
    </div>
{{/if}}
